mat-form-field{
    display: flex;
    padding: 15pt;
    justify-content: center;
}

.component{
    background-color: white;
}

h1{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    text-align: center;
}

button{
    margin-top: 30px;
    align-self: center;
    width: fit-content;
}

.label-file {
    align-self: center;
    border: 1px solid #764ebe;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
    width: fit-content;
    cursor: pointer;
    color: #764ebe;
    font-weight: bold;
}
.label-file:hover {
    box-shadow: 3px 5px 8px 0px #764ebe;
    background-color: #764ebe;
    color: white;
}

.input-file {
    display: none;
}

form p{
    color: #764ebe;
    text-align: center;
}