<div class="component">
  <h1>Beer formular</h1>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
    <mat-form-field>
      <mat-label for="name">Name</mat-label>
      <input matInput id="name" type="text" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Type" formControlName="type">
        <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Alcohol Level" formControlName="alcoholLevel">
        <mat-option *ngFor="let alcoholLevel of alcoholLevels" [value]="alcoholLevel">{{alcoholLevel}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="description">Description</mat-label>
      <textarea id="description" matInput formControlName="description"></textarea>
    </mat-form-field>

    <file-uploader #fileUploader [subscriber]="onFileSelected.bind(this)"></file-uploader>
    <p>{{selectFileName}}</p>

    <button mat-raised-button color="primary" type="submit">Purchase</button>
  </form>
</div>
