<mat-card class="example-card">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
    <mat-form-field>
      <mat-label for="name">Name</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Type" formControlName="type">
        <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="number" step="0.1" matInput placeholder="Alcohol level" formControlName="alcoholLevel">
    </mat-form-field>

    <mat-form-field>
      <mat-label for="description">Description</mat-label>
      <textarea matInput formControlName="description" rows="3"></textarea>
    </mat-form-field>

    <file-uploader #fileUploader [subscriber]="onFileSelected.bind(this)"></file-uploader>

    <button mat-raised-button color="primary" type="submit" [disabled]='unsubmitable'>Add</button>
  </form>
</mat-card>
