mat-form-field{
    display: flex;
    padding: 15pt;
    justify-content: center;
}

.component{
    background-color: white;
}

h1{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    text-align: center;
}

button{
    margin-top: 30px;
    align-self: center;
    width: fit-content;
}

file-uploader {
    align-self: center;
}

.input-file {
    display: none;
}

form p{
    color: #764ebe;
    text-align: center;
}
