<mat-card class="example-card">
  <mat-card-header>
    <div class="header-text">
      <mat-card-title class="title">Welcome at Beerer!</mat-card-title>
      <mat-card-subtitle>Your partner in finding the beer you need.</mat-card-subtitle>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Sed scelerisque, mi eu ornare viverra, ante nunc sollicitudin lectus, eget venenatis lacus nibh sit amet lectus.
      Suspendisse auctor ullamcorper aliquet. Maecenas ornare vulputate sapien a sodales. Etiam id sollicitudin lectus.
      Nulla volutpat, nisi eu dignissim lacinia, justo risus bibendum nulla, a fringilla libero sem at sem.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin lobortis non eros sit amet euismod.
    </p>
    <p>
      Nulla lacinia orci lacus, non vulputate risus condimentum vel.
      Sed sodales convallis ex, ut rutrum lorem lacinia nec. Aenean dolor purus, mollis quis sem vitae, pulvinar tincidunt diam.
      Pellentesque quis rutrum ante.
      Pellentesque ornare dolor in nibh hendrerit luctus.
      In hac habitasse platea dictumst. Aenean in semper leo.
      Vestibulum sed auctor libero. Vivamus ac arcu faucibus, fringilla sem eget, accumsan massa.
      Donec ultricies augue nec urna imperdiet tempor. Cras fringilla euismod odio a suscipit.
      Proin egestas condimentum lectus, ut venenatis tellus maximus at.
      Phasellus mauris sem, porta eu velit quis, imperdiet aliquam lorem.
      Donec sed aliquet libero, vitae efficitur mauris.
    </p>
  </mat-card-content>
</mat-card>
