<div class="header">
    <nav class="mat-tab-nav-bar">
      <div class="tabs">
        <a routerLink="/"><img class="logo" src="../../../assets/beerer_logo2.png" alt="Beerer's logo"></a>
        <button mat-button routerLink="/about">About</button>
        <button mat-button routerLink="/beers-list">Beers list</button>
        <button mat-button routerLink="/shops-list">Shops list</button>
        <button mat-button routerLink="/beer-form">New Beer</button>
        <button mat-button routerLink="/shop-form">New Shop</button>
      </div>
      <div class="tools">
        <button mat-icon-button color="primary">
          <mat-icon>favorite</mat-icon>
        </button>
        <connection-button></connection-button>
      </div>
    </nav>
</div>
