<div class="header">
    <nav class="mat-tab-nav-bar">
      <div class="tabs">
        <a routerLink=""><img class="logo" src="../../../assets/beerer_logo2.png" alt="Beerer's logo"></a>
        <button mat-button *ngFor="let route of routes" routerLink={{route.path}}>{{ route.title }}</button>
      </div>
      <div class="tools">
        <button mat-icon-button color="primary">
          <mat-icon>favorite</mat-icon>
        </button>
        <connection-button></connection-button>
      </div>
    </nav>
</div>
<mat-toolbar color="primary" *ngIf="title">
  <mat-toolbar-row>
    <span>{{ title }}</span>
  </mat-toolbar-row>
</mat-toolbar>
