<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar class="example-header-image" alt="profile picture of {{shop.name}}" src="{{shop.profilePict}}"/>
    <div class="header-text">
      <mat-card-title>{{shop.name}}</mat-card-title>
      <mat-card-subtitle>{{shop.type}} - {{shop.address}}</mat-card-subtitle>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{description}}
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <div class="row">
      <button mat-button (click)='onEdit()'>EDIT</button>
      <button mat-button (click)='onStockManage()'>Stock</button>
    </div>
  </mat-card-actions>
</mat-card>
