<mat-card class='example-card'>
  <form [formGroup]='formGroup' (ngSubmit)='onSubmit(formGroup.value)'>
    <div class='fields'>
      <mat-form-field>
        <mat-label for='name'>Name</mat-label>
        <input matInput id='name' type='text' formControlName='name'>
      </mat-form-field>
      
      <mat-form-field>
        <mat-label for='type'>Type</mat-label>
        <mat-select placeholder='Type' formControlName='type'>
          <mat-option *ngFor='let type of types' [value]='type'>{{type}}</mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field>
        <mat-label for='description'>Description</mat-label>
        <textarea id='description' matInput formControlName='description' rows='3'></textarea>
      </mat-form-field>

      <div class='address'>
        <mat-form-field>
          <mat-label for='address'>Adress</mat-label>
          <input matInput type='text' id='address' formControlName='address'>
        </mat-form-field>
        <button mat-raised-button type='button' [disabled]='locationUnsearchable'
                (click)='searchLocation()'>Search
        </button>
      </div>
      <button mat-raised-button color='primary' type='submit' [disabled]='unsubmitable'>{{ submitButtonLabel }}</button>
    </div>
    <div>
      <app-map #map [onClickedMapEvent]='mapOnClick.bind(this)'
           [onClickedMarkerEvent]='markerOnClick.bind(this)'></app-map>
      <app-file-uploader #fileUploader [subscriber]='onFileSelected.bind(this)'></app-file-uploader>
    </div>

  </form>
</mat-card>
