@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');

html, body, app-root {
  height: 100%;
  overflow: auto;
}

html, body, app-root {
  height: 100%;
  overflow: auto;
}

body{
  background-image: url('/assets/pattern.svg');
  margin: 0px;
  padding: 0px;
}
