@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body, app-root {
  height: 100%;
  overflow: auto;
}

body{
  background-image: url('/assets/pattern.png');
  margin: 0px;
  padding: 0px;
}
